
.Rproj.user/CAB7BF18/sdb/prop/C809BB45

.RData

*.pper

.Rproj.user/CAB7BF18/build_options

.Rhistory

.Rproj.user/CAB7BF18/sdb/per/t/6023184B

.Rproj.user/CAB7BF18/sdb/per/t/D854720E

.Rproj.user/CAB7BF18/sdb/per/t/F57ED2E

.Rproj.user/CAB7BF18/sdb/per/t/C7C23F5D

.Rproj.user/CAB7BF18/sdb/prop/132C21C2

.Rproj.user/CAB7BF18/persistent-state

.Rproj.user/CAB7BF18/sdb/prop/A17D6822

.Rproj.user/CAB7BF18/sdb/prop/INDEX

.Rproj.user/CAB7BF18/sdb/prop/5A75DCD3

.Rproj.user/CAB7BF18/sdb/per/t/5023B74B

.Rproj.user/CAB7BF18/sdb/prop/F6F1089A
